# Environment Variables
.env

# mounted volume
sites

development/*
!development/README.md
!development/installer.py
!development/installer-local.py
!development/apps-example.json
!development/vscode-example/
!development/frappe-bench/apps/
!development/frappe-bench/sites/

# Pycharm
.idea

# VS Code
.vscode/**
!.vscode/extensions.json

# VS Code devcontainer
.devcontainer
*.code-workspace

# Python
*.pyc
__pycache__
venv

# NodeJS
node_modules
uv.lock
.claude/settings.local.json
